*, ::after, ::before {
    box-sizing: inherit;
}
.naglowek{
    color: rgb(114, 4, 9);
    margin:auto;
}

.caption{
    caption-side: bottom;
    text-align: right
    margin top 20px;
}

.container{
    overflow: auto;
}
.body{
background-color: rgb(216, 197, 197);
max-width: 1000px;
border: 2px;
margin: auto;
padding: 15px;
border: 2px;
font-family: 'Lato', sans-serif;
line-height: 1.5;
font-size: 18px;
}

html {
 box-sizing: border-box;
}

.headline {
color: #080808
}

.header{
color: rgb(19, 20, 6);
margin-left:200px;
}

.navigation{
margin-left: 100px;
margin-right: 100px;
list-style-type: none;
padding: 8px 20px;
overflow: hidden;
background-color: rgba(232, 152, 188, 0.377);
box-shadow: 1px 1px 5px 0px;
border: 100% solid black;
max-width: 100%;

}
.footer {
background-color: rgb(232, 152, 188, 0.377);
text-align: center;
padding: 6px;
font-size: 12px;
color: #0d0c0c;
}
.container{
    max-width: 700px;
    margin:0 auto;
    padding:0 20px;
}
.naglowek{
    color: rgb(114, 4, 9);
    margin:auto;
    }
.border{
    margin:auto;
    width: 300px;
    border-width: 2px 10px;
    border-color: crimson;
    border-style: ridge;
    border-radius: 20px / 40px;
    outline: 10px rgb(65, 4, 34);
    padding:20px 10px

}

.article {
    max-width: 600px;
    padding: 20px;
    box-shadow: 2px 2px 8px #a35858;
    margin: 20px auto;
}

*, ::after, ::before {
    box-sizing: inherit;
}
.naglowek{
    color: rgb(114, 4, 9);
    margin:auto;
    }
.border{
    margin:auto;
    width: 300px;
    border-width: 2px 10px;
    border-color: crimson;
    border-style: ridge;
    border-radius: 20px / 40px;
    outline: 10px rgb(65, 4, 34);
    padding:20px 10px

}

.form{
  margin:10px;
}

.form__labelText{
    width: 100%;
    max-width:200px;
    display:inline-block;
    margin-right: 5px;
}

.form__field{
    border:1px solid #cc1717;
    padding: 20px;
    width:100%
    max-width 100px;
    border:radius5px;
}
.form__button js button{
    width:100%;
    border:none;
    background-color:rgb(119, 109, 141);
    color:white;
    padding: 10px;
    border: radius 5px;
}
.form__button:hover{
    background-color: rgb(216, 72, 139);
}
.form_button:active{
    background-color: rgb(100, 100%, 35%);
    color:black
}
.form__fieldset{
    border:1px solid #832727;
    padding:30px;
    border: radius 5px;
    margin:20px 0;
}
.form__legend{
    background-color:rgb(91, 50, 99) ;
    color:rgb(99, 95, 95);
    border-radius: 5px;
    padding: 10px;
}
.form__button {
    background-color: #cc1717;
}
.listItem{
    margin:10px 0;
    background-color: rgb(243, 220, 220);
}

.list{
    padding-left: 20px;
}

.unorderedList{
    list-style-type: square;
}


.form{
  margin:10px;
}

.form__labelText{
    width: 100%;
    max-width:200px;
    display:inline-block;
    margin-right: 5px;
}

.form__field{
    border:1px solid #cc1717;
    padding: 20px;
    width:100%
    max-width 100px;
    border:radius5px;
}
.form__button js button{
    width:100%;
    border:none;
    background-color:rgb(119, 109, 141);
    color:white;
    padding: 10px;
    border: radius 5px;
}
.form__button:hover{
    background-color: rgb(216, 72, 139);
}
.form_button:active{
    background-color: rgb(100, 100%, 35%);
    color:black
}
.form__fieldset{
    border:1px solid #832727;
    padding:30px;
    border: radius 5px;
    margin:20px 0;
}
.form__legend{
    background-color:rgb(91, 50, 99) ;
    color:rgb(92, 9, 9);
    border-radius: 5px;
    padding: 10px;
}




*, ::after, ::before {
    box-sizing: inherit;
}
.naglowek{
    color: rgb(114, 4, 9);
    margin:auto;
    }
.border{
    margin:auto;
    width: 300px;
    border-width: 2px 10px;
    border-color: crimson;
    border-style: ridge;
    border-radius: 20px / 40px;
    outline: 10px rgb(65, 4, 34);
    padding:20px 10px
}

.space{
    padding: 50px/30px;
    line-height:1,5;
}

.table__cell{
    border: 1px solid #ccc;
    text-align: center;
}
.caption{
    caption-side: bottom;
    text-align: right
    margin top 20px;
}

.table__header{
    background-color:crimson ;
    color: white;
    font-weight: normal;
}

.table__row:nth-child(even){
    background-color: papayawhip;
}

.table__row:hover{
    background-color:  brown;
}

.container{
    overflow: auto;
}
.navigation__link{
    background-color: rgb(240, 222, 186);
    color:rgb(236, 227, 233)
    text-decoration: none;
    padding: 5px 10px
}
.navigation__link:visited{
    background-color: rgba(250, 234, 245, 0.986);
}
.navigation__link :focus{
    outline: 2px solid black;
}
.navigation__link:hover{
    background-color:  rgb(218, 224, 213);
    border-bottom: 1px solid;
}
.navigation__link:active{
    color:brown;
}
.body{
  background-color: rgb(216, 197, 197);
  max-width: 1000px;
border: 2px;
margin: auto;
padding: 15px;
border: 2px;
font-family: 'Lato', sans-serif;
line-height: 1.5;
font-size: 18px;
}
.green{
color:#251f1f;
background: #94cca2;
}

html {
 box-sizing: border-box;
}

.headline {
color: #080808
}

.header{
color: rgb(19, 20, 6);
margin-left:200px;
}

.navigation{
margin-left: 100px;
margin-right: 100px;
list-style-type: none;
padding: 8px 20px;
overflow: hidden;
background-color: rgba(232, 152, 188, 0.377);
box-shadow: 1px 1px 5px 0px;
border: 100% solid black;
max-width: 100%;

}
.footer {
background-color: rgb(232, 152, 188, 0.377);
text-align: center;
padding: 6px;
font-size: 12px;
color: #0d0c0c;
}
.container{
    max-width: 700px;
    margin:0 auto;
    padding:0 20px;
}
.naglowek{
    color: rgb(114, 4, 9);
    margin:auto;
    }
.border{
    margin:auto;
    width: 300px;
    border-width: 2px 10px;
    border-color: crimson;
    border-style: ridge;
    border-radius: 20px / 40px;
    outline: 10px rgb(65, 4, 34);
    padding:20px 10px
}
.article {
    max-width: 600px;
    padding: 20px;
    box-shadow: 2px 2px 8px #a35858;
    margin: 20px auto;
}

.section__header {
    color:rgb(172, 33, 172);
    margin: auto;
}
.section__paragraph {
    color:darkslategray;
}
.article__strong {
    color:rgb(67, 76, 202);
}
.dark{
    color: aliceblue;
    background-color: rgb(159, 216, 182);
}